<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Admin</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
</head>
  
<body id="admin-page">  
  
        <!-- NAV -->
        <header class="text-center">  
            {% include 'navbar.html' %}  
        </header> 

    <!-- PASSWORD MODAL -->
    <div id="passwordModal" class="modal" tabindex="-1" role="dialog">  
        <div class="modal-dialog" role="document">  
          <div class="modal-content">                
            <div class="passwordBanner">ENTER PASSWORD</div>   
            <div class="modal-body">  
              <input type="password" id="passwordInput" class="form-control" placeholder="Password">  
            </div>  
            <div class="modal-footer">  
                <button type="button" class="btn btn-primary submitButton">SUBMIT</button> 
            </div>  
          </div>  
        </div>  
      </div>  
  
    <!-- CONTENT -->  
    <div class="content-container" style="display: none;"> 
    
    <!-- BANNER -->   
        <div class="admin-banner">
            <p class="search_header">Scan ItemID or Order Numer here:</p>  
            <!-- scan bar -->  
            <form onsubmit="event.preventDefault(); searchItemTag(document.getElementsByName('scanned_number')[0].value);" class="search-bar">  
                <input type="search" name="scanned_number" pattern=".*\S.*" required>  
                <button class="search-btn" type="submit">  
                    <span>SEARCH</span>  
                </button>  
            </form>  
        </div>  
      
        <div class="database-status">  
            <table class="table table-striped" id="database-table" style="display: none;">  
                <thead>  
                    <tr>  
                        <th class="table-banner">Line ID</th>  
                        <th class="table-banner">Item ID</th>  
                        <th class="table-banner">Order Number</th>  
                        <th class="table-banner">SKU</th>  
                        <th class="table-banner">Status</th>  
                        <th class="table-banner">Description</th>  
                        <th class="table-banner">Last Scan</th>  
                        <!-- <th class="table-banner">Scanned By</th>   -->
                        <th class="table-banner">Qty</th>  
                        <th class="table-banner">CUBBY</th>  
                        <th class="table-banner">Order Date</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <!-- Rows will be populated by JavaScript -->  
                </tbody>  
            </table>  
        </div>  
    </div>    
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>  
</body> 
</html> 
