<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>ScanOut</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scanOut_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
</head>
  
    <body>  
    
        <!-- NAV -->
        <header class="text-center">  
            {% include 'navbar.html' %}  
        </header> 
        
        <div>
            <div class="signedInUser" id="signedInUser"></div>
        </div>

<!-- PASSWORD MODAL -->  
<!-- <div id="passwordModal" class="modal" tabindex="-1" role="dialog">    
    <div class="modal-dialog" role="document">    
      <div class="modal-content">                  
        <div class="passwordBanner"><h4>ENTER PASSWORD</h4></div>     
        <div class="modal-body">  
            <h5>Admin is needed to change between stations.</h5>
          <input type="password" id="passwordInput" class="form-control" placeholder="Password">    
        </div>    
        <div class="modal-footer">    
            <button type="button" class="btn btn-primary submitButton">SUBMIT</button>   
        </div>    
      </div>    
    </div>    
  </div>  -->

<!-- SIGN-IN MODAL -->  
<div id="signinModal" class="modal" tabindex="-1" role="dialog">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="passwordBanner"><h4>SIGN-IN</h4></div>  
            <div class="modal-body">  
                <h5>Employee ID is needed to sign into stations.</h5>  
                <input type="password" id="signinPasswordInput" class="form-control" placeholder="Employee ID">  
            </div>  
            <div class="modal-footer">  
                <button type="button" class="btn btn-primary signinSubmitButton">SUBMIT</button>  
            </div>  
        </div>  
    </div>  
</div>
 
<main>  
    <!-- BANNER -->  
    <div class="text-center p-4">  
        <h1>Scan-Out Station</h1>  
    </div>  
    <div class="banner-container">  
        <div class="banner">  
            <!-- scan bar -->  
            <form id="scanForm1" class="search-bar">  
                <input type="search" name="scanned_number" pattern=".*\S.*" required>  
                <button class="search-btn" type="submit">  
                    <span>SUBMIT</span>  
                </button>  
            </form>  
        </div>  
    </div>  
    <div class="content-container">  
        <!-- MAIN DISPLAY -->  
        <div class="main-display">  
            <div class="previewBanner3">  
                <span class="banner-text" id="banner-text">MAIN DISPLAY</span>  
            </div>  
            <div class="img_box">  
                <div class="json-display">  
                    <label for="sku" class="label">SKU: </label>  
                    <div id="sku" class="content"></div>  
                </div>  
                <div class="json-display">  
                    <label for="qty" class="label">QTY: </label>  
                    <div id="qty" class="content"></div>  
                </div>  
 
                <div class="json-display">  
                    <label for="item_id" class="label">Item ID: </label>  
                    <div id="item_id" class="content"></div>  
                </div>  
                <div class="json-display">  
                    <label for="order_id" class="label">Order ID: </label>  
                    <div id="order_id" class="content"></div>  
                </div>                  
                <div class="json-display">  
                    <label for="details" class="label">Details: </label>  
                    <div id="details" class="content"></div>  
                </div> 
            </div>  
        </div>  
        <div class="scan-display">  
            <div class="previewBanner3">  
                <span class="banner-text" id="banner-text">SCAN</span>  
            </div>  
            <div class="img_box">
                <form id="scanForm2" class="search-bar">
                    <input type="search" name="scanned_number" pattern=".*\S.*" required>
                    <button class="search-btn" type="submit">
                        <span>SUBMIT</span>
                    </button>
                </form>
                <div>
                    <img id="item-image" src="" alt="Item Image" class="item-image" style="display:none;">
                </div>
                <div class="arrow left-arrow" id="left-arrow" onclick="switchImage('previous')">&lt;</div>
                <div class="arrow right-arrow" id="right-arrow" onclick="switchImage('next')">&gt;</div>
            </div>                 
        </div> 
            <div class="help-tools-container">  
                <img src="{{ url_for('static', filename='images/expedited_order.svg') }}" width="50" height="50" class="help-tools" alt="Expedited Order Logo" data-toggle="tooltip" data-placement="top" title="Expedited order: These orders are PRIORITY and should be shipped out first.">  
                <img src="{{ url_for('static', filename='images/multi_line.svg') }}" width="50" height="50" class="help-tools" alt="Multi-Line Order Logo" data-toggle="tooltip" data-placement="top" title="Multi-line order: These orders have DIFFERENT items within the order and should be double checked before shipping out.">  
                <img src="{{ url_for('static', filename='images/multi_order.svg') }}" width="50" height="50" class="help-tools" alt="Multi Order Logo" data-toggle="tooltip" data-placement="top" title="Multi order: These orders have MULTIPLE items within the order and will need a cubby number.">  
                <img src="{{ url_for('static', filename='images/duplacate_order.svg') }}" width="50" height="50" class="help-tools" alt="Duplicate Order Logo" data-toggle="tooltip" data-placement="top" title="Duplicate item: These orders have the SAME items within the order and should have similar items together or close by.">  
            </div>  

        </div>  
    </div>  
</main>  

<!-- Notice Modal --> 
<div id="noticeModal" class="modal"> 
    <div class="modal-content"> 
        <div class="noticeBanner">NOTICE</div>
        <div class="modal-header">
        <h4 class="modal-title m-4">This item has a <strong class="red-text">FRONT and BACK</strong> personalization. How do you wish to continue?</h4>
        </div>           
        <div class="m-1"> 
            <div class="p-2">            
            <h5>One side is <strong class="status-link">PRINTED</strong>, send back to <strong class="status-link">SCAN-IN</strong></h5>
            <button id="designButton" class="designButton mt-2">SCAN-IN</button> 
            </div> 
            <div class="p-2">
            <h5>Both sides are <strong class="status-link">PRINTED</strong>, proceed to <strong class="status-link">SHIPPING</strong></h5>          
            <button id="continueButton" class="continueButton mt-2">CONTINUE</button> 
            </div>
        </div>
    </div>
</div>

<!-- Single Modal -->  
<div id="singleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="singleModalLabel" aria-hidden="true">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="confirmBanner">CONFIRM</div>  
            <div class="modal-header">  
                <h5 class="modal-title" id="modal-message"></h5>  
            </div>  
            <div class="modal-footer">  
                <button id="shipButton" class="shipButton btn btn-primary">Confirm</button>  
                <button id="cancelButton" class="cancelButton btn btn-secondary">Close</button>  
            </div>  
        </div>  
    </div>  
</div>  

<!-- Quantity Modal -->  
<div id="quantityModal" class="modal fade" tabindex="-1" role="dialog">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="confirmBanner">CONFIRM</div>  
            <div class="modal-header">  
                <h5 class="modal-title" id="quantity-modal-message"></h5>  
            </div>  
            <div class="modal-footer">  
                <button id="quantity-shipButton" class="shipButton">CONFIRM</button>  
            </div>  
        </div>  
    </div>  
</div>  
  
<!-- Box Number Modal -->  
<div id="boxNumberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="boxNumberModalLabel" aria-hidden="true">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="scannedBanner">BOX ADDED</div>  
            <div class="modal-header">  
                <h5 class="modal-title" id="boxNumberModalLabel">Order Added to Box</h5>  
            </div>  
            <div class="modal-body">  
                <p class="box-number-modal-text"><strong>Box <span id="boxNumber"></span></strong></p>  
            </div>  
            <div class="modal-footer">  
                <button type="button" class="closeModalBtn cancelButton">Close</button>  
            </div>  
        </div>  
    </div>  
</div>  


<!-- WARNING MODAL -->  
<div id="warningModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="warningModal-label" aria-hidden="true">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="warningBanner">  
                <h4>WARNING!</h4>  
            </div>  
            <div class="modal-header">  
                <h5 class="modal-title" id="alreadyScannedModalLabel">Mismatch Stage</h5>  
            </div>  
            <div class="modal-body">  
                <p id="modal-text"></p>  
                <h5>Enter password to proceed:</h5>  
                <input type="password" id="warningPasswordInput" class="form-control" placeholder="Password">  
            </div>  
            <div class="modal-footer">  
                <button type="button" class="btn btn-primary submitButton" id="warningSubmitButton">SUBMIT</button>  
            </div>  
        </div>  
    </div>  
</div>  
 
            <script>
                const NO_IMAGE_URL = "{{ url_for('static', filename='images/scan_stations/NO_IMAGE.png') }}";
            </script> 
            <script src="{{ url_for('static', filename='js/config.js') }}"></script>
            <script src="{{ url_for('static', filename='js/scanOut.js') }}"></script>
            <script src="{{ url_for('static', filename='js/penguin.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        </body>  
    </html>  