<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>ShipOut</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shipOut_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
</head>
  
<body>  
  
    <!-- NAV -->
    <header class="text-center">  
        {% include 'navbar.html' %}  
    </header> 
    
    <div>
        <div class="signedInUser" id="signedInUser"></div>
    </div>

    <body> 
    <!-- SIGN-IN MODAL -->  
      <div id="signinModal" class="modal" tabindex="-1" role="dialog">  
        <div class="modal-dialog" role="document">  
            <div class="modal-content">  
                <div class="passwordBanner"><h4>SIGN-IN</h4></div>  
                <div class="modal-body">  
                    <h5>Employee ID is needed to sign into stations.</h5>  
                    <input type="password" id="signinPasswordInput" class="form-control" placeholder="Employee ID">  
                </div>  
                <div class="modal-footer">  
                    <button type="button" class="btn btn-primary signinSubmitButton">SUBMIT</button>  
                </div>  
            </div>  
        </div>  
    </div> 
        <!-- WARNING MODAL -->  
        <div class="modal" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModal-label" aria-hidden="true">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="warningBanner">  
                        <h4>WARNING!</h4>  
                    </div>  
                    <div class="modal-header">  
                        <h5 class="modal-title" id="alreadyScannedModalLabel">Mismatch Stage</h5>  
                    </div>  
                    <div class="modal-body">  
                        <p id="modal-text"></p>  
                        <h5>Enter password to proceed:</h5>  
                        <input type="password" id="warningPasswordInput" class="form-control" placeholder="Password">  
                    </div>  
                    <div class="modal-footer">  
                        <button type="button" class="btn btn-primary submitButton" id="warningSubmitButton">SUBMIT</button>  
                    </div>  
                </div>  
            </div>  
        </div>   

<main>
        <!-- BANNER -->
        <div class="text-center p-4">
            <h1>Ship-Out Station</h1>
        </div>

        <!-- MAIN DISPLAY -->
        <div class="content-container">
            <div class="help-tools-container">  
                <img src="{{ url_for('static', filename='images/expedited_order.svg') }}" width="50" height="50" class="help-tools" alt="Expedited Order Logo" data-toggle="tooltip" data-placement="top" title="Expedited order: These orders are PRIORITY and should be shipped out first.">  
                <img src="{{ url_for('static', filename='images/multi_line.svg') }}" width="50" height="50" class="help-tools" alt="Multi-Line Order Logo" data-toggle="tooltip" data-placement="top" title="Multi-line order: These orders have DIFFERENT items within the order and should be double checked before shipping out.">  
                <img src="{{ url_for('static', filename='images/multi_order.svg') }}" width="50" height="50" class="help-tools" alt="Multi Order Logo" data-toggle="tooltip" data-placement="top" title="Multi order: These orders have MULTIPLE items within the order and will need a cubby number.">  
                <img src="{{ url_for('static', filename='images/duplacate_order.svg') }}" width="50" height="50" class="help-tools" alt="Duplicate Order Logo" data-toggle="tooltip" data-placement="top" title="Duplicate item: These orders have the SAME items within the order and should have similar items together or close by.">  
            </div>
            <div class="main-display">
                <h2>Order Information</h2>
                <div class="json-display">
                    <label for="packageqty" class="label">Items in Package</label>
                    <div id="packageqty" class="content"></div>
                </div>
                <div class="json-display">
                    <label for="item_id" class="label">ID: </label>
                    <div id="item_id" class="content"></div>
                </div>
                <div class="json-display">
                    <label for="sku" class="label">SKU: </label>
                    <div id="sku" class="content"></div>
                </div>
                <div class="json-display">
                    <label for="qty" class="label">QTY: </label>
                    <div id="qty" class="content"></div>
                </div>
                
            </div>
    
            <div class="right-container">
                <input type="text" id="barcode" class="input-field" placeholder="Scan barcode here" onkeydown="handleScannerInput(event)">
                <p id="message"></p>
                <div class="image-list-container">
                    <div class="image-list" id="imageList">
                        <!-- Images will be appended here dynamically -->
                    </div>
                    <button class="button" id="shipButton" onclick="shipbutton()">Ship Order</button>
                </div> 
            </div>
        </div>
</main>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/shipOut.js') }}"></script>
    <script src="{{ url_for('static', filename='js/penguin.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>  
</html> 