<!DOCTYPE html>
<html>
  <head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Print Layout Lab</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel ="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head> 
<body>

        <!-- NAV -->
        <header class="text-center">  
          {% include 'navbar.html' %}  
      </header>  

  <!-- CONTENT -->

  <div class="container text-center p-md-5">
  
    <div class="bounding_box m-3">
      <div class="p-4">
        <h2>TemplateMerger</h2>
        <p>choose a format and browse the downloaded images to export into the desired template</p>
      </div>
    </div>
    
  <!-- DROPDOWN  and BROWES KEY-->
  <div class="dropdown mt-3">
    <div class="row p-3 align-items-center">
    <button class="btn btn-secondary dropdown-toggle col" type="button" id="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <h3 id="format-btn">Choose a Format</h3>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      <!-- Search Bar -->
      <li>
        <input type="text" id="search-input" class="form-control" placeholder="Search..." onkeyup="filterFunction()">
      </li>

      <li id="desk-plates"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/deskplates.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add deskplates">
        Desk Plates</a></li>
      <li id="flutes"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/flute.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add flutes">
        Flutes</a></li>
      <li id="stanly-tags"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/tags.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add stanly tags">
        Stanly Tags</a></li>
      <li id="golfballs"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/golfball.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add golfballs">
        GolfBalls</a></li>
      <li id="bookmarks"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/bookmark.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add bookmarks">
        Bookmarks</a></li>
      <li id="mugs"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/mug.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mugs">
        Mugs</a></li>
      <li id="planks-66"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/6X6.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 6X6">
        Planks 6X6</a></li>
      <li id="planks-88"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/8X8.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 8X8">
        Planks 8X8</a></li>
      <li id="planks-1010"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/10X10.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 10X10">
        Planks 10X10</a></li>
      <li id="planks-1212"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/12X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 12X12">
        Planks 12X12</a></li>
      <li id="planks-186"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/18X6.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 18X6">
        Planks 18X6</a></li>
      <li id="planks-2412"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 24X12">
        Planks 24X12</a></li>
      <li id="planks-2412-THICK"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add planks 24X12">
        Planks 24X12 THICK</a></li>

      <li id="mats-3624-colormats"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mats 36x24">
        Mats 36x24 Colored Mats</a></li>
      <li id="mats-3020-colormats"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mats 30x18">
        Mats 30x20 Colored Mats</a></li>
      <li id="mats-3018-colormats"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mats 30x18">
        Mats 30x18 Colored Mats</a></li>
      <li id="mats-2416-colormats"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mats 24x16">
        Mats 24x16 Colored Mats</a></li>
      <li id="mats-1812-colormats"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add mats 18x12">
        Mats 18x12 Colored Mats</a></li>
        
      <li id="CB-1117"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 1117</a></li>
      <li id="CB-1117-groove"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 1117 groove</a></li>
      <li id="CB-0812"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 0812</a></li>
      <li id="CB-0812-groove"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 0812 groove</a></li>
      <li id="CB-1108"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 1108 oval</a></li>
      <li id="CB-0806"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 0806 oval</a></li>
      <li id="CB-1114-bamboo"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 1114 bamboo</a></li>
      <li id="CB-8511-bamboo"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB 8511 bamboo</a></li>
      <li id="CB-PDCB-thick"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB PD Thick</a></li>
      <li id="CB-PD-thin-1206"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB PD thin 1206</a></li>
      <li id="CB-PD-thin-1507"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB PD thin 1507</a></li>
      <li id="CB-BAMBOO-HAN511"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB BAMBOO HAN511</a></li>
      <li id="CB-COC-board"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        CB COC board</a></li>
      <li id="WSKDCT-CAP"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        WSKDCT CAP</a></li>
      <li id="WSKDCT-KSL"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        WSKDCT KSL</a></li>
      <li id="SKTPAD"><a href="#" class="dropdown-item"><img src="{{ url_for('static', filename='images/24X12.svg') }}" width="18" height="18" class="d-inline-block align-center" alt="Click to add cutting boards">
        SKTPAD</a></li>
    </ul>
    <div class="col">
    <input type="file" id="file-input" accept=".png, .pdf" multiple>
    </div>
  </div>
  </div>
  
  

  <!-- EXPORT BUTTON-->
    <div class="container p-sm-2">
      <button class="button" type="button" id="export-button">Export PNG</button>
    </div>
    <div id="preview-area" class="preview-area"></div>
    </div>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/templatemerger.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.worker.min.js"></script>

<script>
  function filterFunction() {
    const input = document.getElementById("search-input");
    const filter = input.value.toLowerCase();
    const items = document.querySelectorAll(".dropdown-menu li:not(:first-child)"); // Exclude search input

    items.forEach(item => {
      const text = item.textContent.toLowerCase();
      item.style.display = text.includes(filter) ? "" : "none";
    });
  }
  

</script>
</body>
</html>

